.news-detail{
  max-width:1000px;
  margin:160px auto 120px;
  background:#fff;
  border-radius:18px;
  box-shadow:0 20px 70px rgba(0,0,0,.08);
  overflow:hidden;
}

.news-cover img{
  width:100%;
  display:block;
}

.news-body{
  padding:50px 70px 60px;
}

.news-body h1{
  font-size:2rem;
  color:#334155;
  margin-bottom:12px;
}

.news-meta{
  display:flex;
  gap:24px;
  font-size:.9rem;
  color:#64748b;
  margin-bottom:24px;
}

.news-meta i{color:#38bdf8}

.news-body p{
  color:#475569;
  line-height:1.8;
  margin-bottom:22px;
}

.qr-wrap{
  display:flex;
  gap:50px;
  align-items:center;
  margin:40px 0;
}

.qr-wrap img{width:180px}

.news-divider{
  border:none;
  border-top:1px solid #e2e8f0;
  margin:40px 0;
}
.news-inline-img{
  width:100%;
  max-height:520px;
  object-fit:cover;
  border-radius:18px;
  margin:45px 0;
  box-shadow:0 20px 60px rgba(0,0,0,.18);
}


.news-body > :last-child{
  margin-bottom:0 !important;
}
.news-inline-img-wrap{
  margin:60px 0;
  text-align:center;
}
.news-source{
  margin:70px auto 0;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  font-size: 1rem;
  color:#000000;
}

.news-source span{
  opacity:.6;
}

.news-source a{
  padding:12px 26px;
  border-radius:999px;
  background:#020617;
  color:#38bdf8;
  text-decoration:none;
  font-weight:500;
  box-shadow:0 10px 30px rgba(0,0,0,.15);
  transition:.3s;
}

.news-source a:hover{
  transform:translateY(-2px);
  box-shadow:0 16px 40px rgba(56,189,248,.35);
}
.news-video{
  width:100%;
  max-width:880px;
  margin:50px auto;
  border-radius:22px;
  overflow:hidden;
  box-shadow:0 20px 70px rgba(0,0,0,.25);
}

.news-video iframe{
  width:100%;
  height:480px;
  display:block;
}

@media(max-width:768px){
  .news-video iframe{ height:260px; }
}


@media(max-width:768px){
  .news-body{padding:30px}
  .qr-wrap{flex-direction:column}
}
